requirements*txt linguist-generated=true
dev-requirements*txt linguist-generated=true
l9gpu/gen/* linguist-generated=true
l9gpu/gen/**/* linguist-generated=true
l9gpu/features/gen/* linguist-generated=true

.git_archival.txt export-subst
*.go text eol=lf
